body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0; 
  font-family: Arial, sans-serif;
  background: #fafafa;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto; 
}

article {
  flex: 2;
  overflow-y: auto;
  padding: 1rem;
  background: #ffffff;
  border-right: 2px solid #ddd;

}
aside {
  flex: 1;
  overflow-y: auto; 
  padding: 1rem;
  background: #F9F9F9;
}


header, footer {
  background: #f0f0f0;
  padding: 1rem;
}

header li.logo{
  font-size: 2rem;
}
article h1, article h2, articule h3{
  color: #444;
}

article table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

}
article th, article td{
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;

}
article th{
  background:#f0f0f0;
}
aside p{
  font-style: italic;
  color: #666;
}